{% extends "admin/change_form.html" %}


{% block extrahead %}
    {{block.super}}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e){
            function show_password(box){
                if ($(box).attr("checked")){
                    $("#id_password").parent().hide();
                }else{
                    $("#id_password").parent().show();
                }
            }
            $("#id_public").click(function (e) {
                show_password(e.target);
            });
            show_password($("#id_public"));
        });
    </script>
{% endblock %}
